body{
  background-color: #fff;
}

.container{
  width:95%;
  margin: auto;
}

*{
  margin:0px;
  padding:0px;
}

        a{
          color:#555555
        }
        a:hover{
          color:#548838
        }


.name{
  text-align: center;
  font-family:monospace;
  font-size: 135px;
}

table{
  margin-left: auto;
  margin-right: auto;
}
.navigation p{
  font-family: monospace;
  text-decoration: underline;
  font-style:italic;
  padding:0px 2px;
}
td{
  border: 1px solid black;
}
.contact td{
  border: 0px;
}

.infolabel{
  text-align: right;
}

.contact table{
  font-size: 23px;
  padding: 10px 0px;
  border-spacing: 15px;
}


.container h1{
  font-family: monospace;
  text-align: center;
  font-style: italic;
  border: 2px solid #666366;
  margin: 2px 2px 0px 2px
}
/*.container p{
    margin: 10px 2px;
    font-family: monospace;
    padding-left: 2px;
    text-align: justified;
    border: 2px solid;

}*/

.introwithlist{
  font-family: monospace;
  text-align:left;
  font-style: oblique;
  border: 2px solid;
  margin: 2px 2px 0px 2px;
}

.introwithlist ul{
  padding-left: 20px;
  padding-top: 5px;
  text-align:left;
}

.topics ul {
  font-family: monospace;
  textalign: center;
  padding-left: 22px;
  margin: 2px 2px 0px 2px;
  border: 2px solid;
}

.references p{
  font-family: monospace;
  text-align: left;
  border: 2px solid;
  margin: 2px 2px 0px 2px;
  padding-left: 2px;
}

.reference{
  font-family: monospace;
  text-align:left;
  border: 2px solid;
  margin: 2px 2px 0px 2px;
  padding-left: 22px;
}

.contact{
  font-family: monospace;

}

.contact h2{
  border:2px solid;
  margin: 3px;
  font-style: italic;
}

.final p{
  font-family: monospace;
  border: 1px solid black;
  margin: 2px;
}

.lessonlist p {
  font-family: monospace;
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
  text-align: centre;
}
